html{
    line-height: 3;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
article, aside, footer, header, section, nav{
    display: block;
}

h4{
    display: block;
    height: 10px;
    text-align: left;
    margin: 0;
    font-size: 2em;
    font-weight: 400;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 0px;
}

ul{
    list-style-type: none;
    display: block;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    flex-wrap: wrap;
    font-size: 20px;
}

li{
    display: list-item;
    text-align: center;
}

body.main{
    background-color: rgb(240, 240, 219);
    position: relative;
    min-height: 100vh;
}

body.main .m-header{
    padding-left: calc((90vw - 720px)/2);
    padding-right: calc((90vw - 720px)/2);
}

.headerDown{
    top: 0;
}

.m-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100px;
    padding: 20px 0px;
    background-color: rgb(211,232,232);
    z-index: 1000;
    vertical-align: baseline;
}

body.main .m-header .m-logo{
    margin-left: -10%;
    margin-right: -10%;
}

.m-header .m-logo{
    float: left;
    width: 30%;
    height: auto;
    white-space: nowrap;
}

.m-header .m-nav{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 100px;
    float: right;
    margin-right: 0;
}

a:link {
    color: rgb(253, 253, 253);
    display: inline;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline;
    text-align: center;
    padding: 10px 20px;
}

a:hover {
    color: currentColor;
    text-decoration: wavy;
    display: inline;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;
    transition-duration: .5s;
}

.Resume{
    margin-top: 110px;
    text-align: center;
    font-style: oblique;
    color: darkslategray;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.m-header .m-nav>ul>li{
    align-items: center;
    float: left;
    height: 10px;
    line-height: 1.22;
    text-transform: capitalize;
    margin-right: 128px;
    white-space: nowrap;
}

body.main .content{
    margin-top: 200px;
    font-family: monospace;
    color: rgb(255, 255, 255);
    text-align: center;
}

.welcome{
    font-size: 120px;
    background-position: center;
    padding-top: 90px;
    padding-left: 0%;
    position: relative;
}

.welcome h2{
    font-size: 30px;
    font-style: italic;
    margin-top: 70px;
    text-align: center;
}

video{
    padding: 2%;
    margin-top:  -150px;
    margin-left: 10%;
    object-fit: cover;
    text-align: center;
    top: 0;
    left: 0;
    width: 80%;
    height: 730px;
    object-fit: cover;
    position: absolute;
    
}

body.main .content .credit{
    color: lightslategray;

}

.welcomeAbout{
    position: relative;
    margin-left: 50px;
    margin-top: -70px;
    margin-bottom: 50px;
    font-style: italic;
    color: darkslategray;
    text-align: center;
    text-decoration: underline;
    font-size:600%;
}

.aboutPage{
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.photoofme img{
    display: flex;
    max-width: 450px;
    height: auto;
    margin-top: -20px;
    margin-right: 10px;
    border-radius: 100%;
    border-width: 20px;
    border-style: solid;
    border-block-start-color: darkslategray;
    border-block-end-color: rgb(44, 78, 78);
    float: left;
}

.description {
    text-align: center;
    font-size: 110%;
    font-family: monospace;
    width: 400px;
    height: auto;
    float: right;
    background-color: rgb(211,232,232);
    background-clip: padding-box;
    margin-top: -80px;
    margin-left: 10px;
    padding: 100px;
}

.lang{
    padding: 50px;
    text-align: center;
    font-size: 160%;
    font-style: oblique;
    color: darkslategray;
}

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 2.5rem;
}

.card h2{
    margin-top: -30px;
}

.card img{
    filter: invert(29%) sepia(15%) saturate(903%) hue-rotate(131deg) brightness(90%) contrast(93%);
}

.footer{
    position: absolute;
    bottom: -5;
    margin-top: 0%;
    padding: 10px;
    background-color: lightgray;
    display: block;
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    justify-content: center;
}

.footer .contactslinks{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 100px;
}

.footer .WorkBy{
    text-align: bottom;
    max-width: 100%;
}

/*problems happen*/
.projects-content{
    padding: 30px 0;
    flex: 1;
    display: block;
    max-width: calc(900px - (30px*2));
    margin-top: 100px;
    padding-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    color: darkslategray;
}

.projects-list{
    padding:0;
    margin: 0;
    display: block;
    box-sizing: border-box;
    list-style: none;
}

.projects-list>.projects-item{
    height: 15rem;
    display: flex;
    box-sizing: border-box;
}

.projects-list>.projects-item .preview{
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
    height: 9.5rem;
    background-size: cover;
    display: inline;
    border-radius: 10px;
    padding: .25rem;
    margin-top: 6rem;
    margin-left: 5rem;
    box-shadow: 0 0 0.25rem 0.25rem;
    box-sizing: border-box;
}

.projects-list>.projects-item .projects-info{
    display: block;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}

.projects-list>.projects-item .projects-info>h4{
    height: 10px;
    text-align: left;
    margin: 0;
    font-size: 2em;
    font-weight: 400;
}

.post-date{
    display: block;
    font-size: 17px;
    color: rgb(72, 110, 110);
    text-align: left;
    margin-top: 60px;
    margin-left: 20px;
}

.summary{
    display: block;
    text-align: left;
    margin-left: 20px;
    margin-top: -5px;
}

body.main .content-info{
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    bottom: auto;
    display: block;
    margin-top: 100px;
    background-color: floralwhite;
    background-clip: padding-box;
}

body.main .content-info>.header{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
}

.content-info .header h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.content-info .header p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: -30px;
    padding-bottom: 10px;
}

.content-info .header>.tag-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-self: center;
    text-align: center;
    column-gap: 10px;
}

.content-info .tag-grid>.tags{
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: wheat;
    background-size: contain;
}